@charset "utf-8";
// clear fix
.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

body {
    background-color: $base_c;
    width: 100%;
}

div#wrapper {
    width: 960px;
    margin: 0 auto;
    header {
        width: 100%;
        margin-top: 40px;
        background-color: $base_c;
        div.logo {
            float: left;
        }
        nav {
            float: right;
            color: $nav_c;
            margin-top: 13px;
            font-family: $nav_h2_font;
            font-size: 1.4rem;
            ul {
                &.gnav {
                    text-align: right;
                }
                li {
                    display: inline-block;
                    padding: 0 1%;
                    font-weight: bold;
                }
            }
        }
    }
}
