    @charset "utf-8";
    body {
        background-color: $base_c;
        width: 100%;
    }
    
    div#wrapper {
        max-width: 960px;
        width: 100%;
        margin: 0 auto;
        header {
            width: 100%;
            margin-top: 40px;
            background-color: $base_c;
            @include mq(sp) {
                margin-top: 15px;
            }
            div.logo {
                float: left;
                @include mq(pc_s) {
                    width: 100%;
                    text-align: center;
                    float: none;
                }
                img {
                    @include mq(sp) {
                        width: 27%;
                        height: 40%;
                    }
                }
            }
            nav {
                float: right;
                width: 45%;
                margin-top: 13px;
                font-family: $nav_h2_font;
                @include fontsize(14);
                @include mq(pc_s) {
                    float: none;
                    width: 100%;
                }
                ul.gnav {
                    text-align: right;
                    margin-bottom: 0;
                    @include mq(pc_s) {
                        text-align: center;
                        position: relative;
                        @include mq(tb) {
                            margin-bottom: 10px;
                        }
                    }
                    li {
                        display: inline-block;
                        padding: 0 1.2%;
                        font-weight: bold;
                        letter-spacing: 0.1rem;
                        @include mq(pc_s) {
                            &:nth-child(-n+4) {
                                display: none;
                            }
                        }
                        a {
                            text-decoration: none;
                            color: $nav_c;
                        }
                    }
                }
                li#sp_menu {
                    display: none;
                    @include mq(pc_s) {
                        display: inline-block;
                        @include fontsize(24);
                        color: $nav_c;
                        cursor: pointer;
                    }
                }
                .sp_menu_toggle {
                    width: 94%;
                    position: absolute;
                    top: 142%;
                    right: 3%;
                    border: 1px solid #eee;
                    background-color: rgba(255, 255, 255, 0.9);
                    margin: 0;
                    padding: 0;
                    display: none;
                    z-index: 100;
                    li {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        display: block!important;
                        a {
                            display: block;
                            padding: 10px 8px;
                            border-bottom: 1px solid #e8e8e8;
                            font-size: 14px;
                            text-decoration: none;
                        }
                    }
                    @media (min-width:950px) {
                        display: none!important;                    }
                }
            }
        }
    }
