@charset "utf-8";
article {
    width: 100%;
    margin-top: 40px;
    background: $base_c;
    div#main {
        width: 73%;
        margin: 0 1%;
        float: left;
        div.cover {
            height: 300px;
            background: $dummy_c;
            margin-bottom: 30px;
        }
        section {
            h2 {
                font-family: $nav_h2_font;
                color: $h_c;
                display: flex;
                align-items: center;
                @include fontsize(16);
                margin-top: 25px;
                margin-bottom: 25px;
                &:before,
                &:after {
                    content: "";
                    flex-grow: 1;
                    border-top: 1px solid #e2ddd4;
                    display: block;
                }
                &:before {
                    margin-right: .4em;
                }
                &:after {
                    margin-left: .4em;
                }
            }
            div.column_box {
                display: flex;
                align-items: center;
                align-items: stretch;
                flex-wrap: wrap;
                justify-content: space-around;
                div.column_3 {
                    width: 31%;
                    margin-top: 3px;
                    background: $content_c;
                    padding-top: 13px;
                    padding-bottom: 20px;
                    padding-left: 1%;
                    padding-right: 1%;
                }
                div.column_2 {
                    width: 47%;
                    background: $content_c;
                    padding: 13px 1% 55px 1%;
                    h3 {
                        color: $h_c;
                        @include fontsize(16);
                    }
                    h4 {
                        color: $h_c;
                    }
                }
            }
        }
    }
}
