@charset "utf-8";
article {
    width: 100%;
    margin-top: 25px;
    background: $base_c;
    @include mq(sp) {
        margin-top: 0;
    }
    div#main {
        width: 73%;
        margin: 0 1%;
        float: left;
        @include mq(tb) {
            width: 94%;
            margin: 0 3%;
            float: none;
        }
        div.bread_c {
            width: 100%;
            background-color: #e8e4da;
            padding: 10px 2%;
            margin-bottom: 10px;
            color: #887f69;
            @include mq(sp) {
                padding: 10px 8%;
            }
            ul {
                margin: 0;
                padding-left: 1%;
                li {
                    list-style: none;
                    display: inline-block;
                    @include fontsize(11);
                    position: relative;
                    margin-left: 1rem;
                    &:nth-child(n+2):before {
                        content: "/";
                        position: absolute;
                        left: -1rem;
                    }
                    &:first-of-type {
                        a {
                            position: relative;
                            &:first-of-type:before {
                                content: "\f015";
                                font-family: 'FontAwesome';
                                @include fontsize(15);
                                position: absolute;
                                left: -55%;
                            }
                        }
                    }
                }
            }
        }
        div.cover {
            margin-bottom: 30px;
            display: block;
            @include mq(sp) {
                margin-bottom: 0;
            }
        }
        section {
            h2 {
                font-family: $nav_h2_font;
                color: $h_c;
                display: flex;
                align-items: center;
                @include fontsize(16);
                margin-top: 25px;
                margin-bottom: 25px;
                &:before,
                &:after {
                    content: "";
                    flex-grow: 1;
                    border-top: 1px solid #e2ddd4;
                    display: block;
                    @include mq(sp) {
                        content: "";
                        flex-grow: 1;
                        border: none;
                    }
                }
                &:before {
                    margin-right: .4em;
                }
                &:after {
                    margin-left: .4em;
                }
            }
            div.column_box {
                display: flex;
                align-items: center;
                align-items: stretch;
                flex-wrap: wrap;
                justify-content: space-around;
                &:after {
                    content: "";
                    width: 49%;
                    display: block;
                }
                div.column_3 {
                    width: 33%;
                    margin-top: 3px;
                    background: $content_c;
                    padding-top: 13px;
                    padding-bottom: 20px;
                    padding-left: 1%;
                    padding-right: 1%;
                    @include mq(sp) {
                        width: 49%;
                        padding-top: 10px;
                        padding-left: 1%;
                        padding-right: 1%;
                        padding-bottom: 17px;
                    }
                    p,
                    figure {
                        @include mq(sp) {
                            @include fontsize(11)
                        }
                    }
                }
                div.column_2 {
                    width: 49.5%;
                    background: $content_c;
                    padding: 13px 1% 55px 1%;
                    @include mq(sp) {
                        width: 100%;
                        margin-top: 5px;
                        padding-top: 10px;
                        padding-bottom: 15px;
                    }
                    section {
                        @include mq(sp) {
                            padding-left: 3%;
                            padding-right: 3%;
                        }
                    }
                    h3 {
                        color: $h_c;
                        @include fontsize(16);
                    }
                    h4 {
                        color: $h_c;
                    }
                }
            }
            div.btn_area {
                margin-top: 20px;
                a.btn {
                    line-height: 45px;
                    display: inline-block;
                    color: $linkbtn_font_c;
                    text-align: center;
                    background-color: $linkbtn_c;
                    width: 17%;
                    text-decoration: none;
                    font-weight: bold;
                    @include fontsize(12);
                    @include mq(sp) {
                        width: 33%;
                    }
                    &:first-of-type {
                        float: left;
                    }
                    &:last-of-type {
                        float: right;
                    }
                }
            }
        }
    }
}
