@charset "utf-8";
@mixin side_h {
    height: 45px;
    line-height: 45px;
    padding: 0 10%;
    background-color: $linkbtn_c;
    width: 80%;
    color: $linkbtn_font_c;
    text-decoration: none;
    font-weight: bold;
    @include mq(sp) {
        margin-top: 10px;
        padding-left: 5%;
    }
}

div#side_menu {
    width: 22%;
    margin: 0 1%;
    float: left;
    //*sp setting
    @include mq(sp) {
        float: none;
        width: 94%;
        margin: 0 3%;
    }
    //*module setting
    h2 {
        @include side_h;
        margin-bottom: 0;
        @include mq(sp) {
            @include fontsize(12);
            width: 94%;
            padding-right: 0;
        }
    }
    ul {
        li {
            list-style: none;
        }
    }
    a.round_btn {
        @include side_h;
        text-align: center;
        height: 30px;
        border-radius: 30px;
        @include fontsize(15);
        line-height: 30px;
        display: block;
    }
    //*unique setting
    div.search {
        padding: 20px 10%;
        height: 60px;
        background: $content_c;
        @include mq(sp) {
            padding: 20px 5%;
            height: 30px;
        }
        p {
            color: $h_c;
            @include fontsize(12);
            margin-top: 0;
            font-weight: bold;
            @include mq(sp) {
                display: none;
                margin-top: 15px;
            }
        }
        form {
            position: relative;
            &:after {
                font-family: 'FontAwesome';
                content: "\f002";
                position: absolute;
                top: 7px;
                left: 85%;
                @include fontsize(15);
                color: #aaaaaa;
            }
            input {
                height: 30px;
                width: 90%;
                background: #eee;
                border: none;
                padding: 0 5%;
                font-style: italic;
                color: #b9b9b9;
                display: block;
                position: relative;
            }
        }
    }
    a.page_link {
        @include side_h;
        display: block;
        @include fontsize(15);
        position: relative;
        &:after {
            font-family: 'FontAwesome';
            content: "\f105";
            position: absolute;
            top: 1px;
            left: 89%;
            @include fontsize(20);
            @include mq(sp) {
                left: 93%;
            }
        }
        @include mq(sp) {
            margin-top: 15px;
            @include fontsize(12);
        }
    }
    nav.local_nav {
        a {
            h2 {
                margin-bottom: 0;
                position: relative;
                &:after {
                    font-family: 'FontAwesome';
                    content: "\f107 ";
                    position: absolute;
                    top: 1px;
                    left: 87%;
                    @include fontsize(20);
                    @include mq(sp) {
                        left: 92%;
                    }
                }
            }
        }
        ul {
            margin-top: 0;
            li {
                margin-bottom: 1px;
                a {
                    display: block;
                    position: relative;
                    @extend a.page_link;
                    background-color: $content_c;
                    font-weight: normal;
                    &:hover {
                        filter: brightness(90%);
                    }
                    &:after {
                        color: #b2b2b2;
                    }
                    &:visited {
                        color: #000!important;
                    }
                    @include mq(sp) {
                        margin-top: 1px;
                    }
                }
            }
        }
    }
    div.side_box {
        background-color: $content_c;
        padding-top: 13px;
        padding-left: 3%;
        padding-right: 3%;
        padding-bottom: 20px;
        width: 94%;
    }
}
