@charset "utf-8";
* {
    box-sizing: border-box;
}

figure {
    margin: 0;
    padding: 0;
}

// clear fix
.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

// align center
figure.center,
p.center,
span.center {
    text-align: center;
}

// list style
ul {
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    &:hover {
        opacity: 0.7;
    }
    &:visted {
        color: inherit;
    }
}

// img sp setting
img {
    width: auto;
    max-width: 100%;
    height: auto;
}
